@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <br />
    <h3>This is an Assignment for the Web&Cloud Application Security Cours</h3>
    <br />
    <h3>This application mocks a website where you can give reviews on games you've played</h3>
</div>
