@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <br />
    <h3>This is an Assignment for the Web&Cloud Application Security Cours</h3>
    <br />
    <h3>This application mocks a website where you can give reviews on games you've played</h3>
 </div>
 <br />
 <br />
 <div>
    <h4>This application does not support Registering since this task was required in the Assignment Acceptence Criteria</h4>
    <h4>Thus, the accounts were pre-generated</h4>
    <h6>
        <ul>
            <li>For the admin account:
                <ul>
                    <li>Email: gameAdmin@mail.com</li>
                    <li>Password: Qwerty1234!</li>
                </ul>
            </li>
            <li>For the reviewer account:
                <ul>
                    <li>Email: reviewer@mail.com</li>
                    <li>Password: Qwerty1234!</li>
                </ul>
            </li>
            <li>For the no role account:
                <ul>
                    <li>Email: joe@mail.com</li>
                    <li>Password: Qwerty1234!</li>
                </ul>
            </li>
        </ul>
    </h6>
</div>

