@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Me, Mares Robert-Dorian, student in the First Year at the IT&C Security Master, as part of Bucharest Acadamy of Econimc Studies</p>
<p>Hereby I declare that this software was developed only by me and only using allowed sources of information</p>